@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Arial";
}

body {
    background: #121214;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#Pagination ul li {
    background-color: rgb(100, 116, 139, 0.5);
}

#Pagination ul li a {
    padding: 5px 35px;
    display: block;
}

#Pagination ul li.previous,
#Pagination ul li.next {
    background: rgb(59, 130, 246, 0.7);
}

#Pagination ul li.selected {
    background: rgb(59, 130, 246, 0.7);
}